<h1>Welcome to the User Manual Page</h1>
<h2>You can find helpful information for navigating and using Forum Mafia here.</h2>
<p>
    You can click the following link to navigate to the <%= link_to "home page", root_path %>. 
    From the home page you can click the button <%= link_to "Create Game", "/t/new" %>. 
    
</p>