<head><style>
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
</style>
</head>
<div>
  <h1>Creating a New Game</h1>
  <form action="../topics/create">
    <input type="hidden" name="category" value = 1 />
    <div class="form-group row">
      <fieldset class="form-group col-md-9">
        <input type="string" class="form-control" name="title" placeholder="Game Title">

<hr>
        Number of Mafia you want in the game:
        <label class="radio-inline"><input type="radio" name="num_mafia" value = 1>1</label>
        <label class="radio-inline"><input type="radio" name="num_mafia" value = 2>2</label>
        <label class="radio-inline"><input type="radio" name="num_mafia" value = 3>3</label>
        <label class="radio-inline"><input type="radio" name="num_mafia" value = 4>4</label>
        <label class="radio-inline"><input type="radio" name="num_mafia" value = 5>5</label>
<hr>
        <input type="string" class="form-control" name="num_town" placeholder="Number of Town you want in the game">
        <input type="string" class="form-control" name="day_timelimit" placeholder="Length of the Day Phase">
        <input type="string" class="form-control" name="night_timelimit" placeholder="Length of the Night Phase">
      </fieldset>
    </div>

    


    <fieldset class="form-group">
      <textarea class="form-control" type="text" name="content" rows="20"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary">Create Topic</button>
  </form>

</div>