<div>
  <p>Create a new Topic</p>
  <form action="../topics/create">
    <div class="form-group row">
      <fieldset class="form-group col-md-9">
        <input type="string" class="form-control" name="title" placeholder="Topic Title">
      </fieldset>
      <input type="hidden" name="category" value=1 />
    </div>
    <% if false %>
    if my_string.include? "cde"
    <% end %>
    <fieldset class="form-group">
      <textarea class="form-control" type="text" name="content" rows="20"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary">Create Topic</button>
  </form>

</div>